
@{
    ViewBag.Title = "Login";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Login</h2>

@using (Html.BeginForm())
{
    <div>@Html.Label("Kullanıcı Adı")</div>
    <div>@Html.TextBox("name")</div>
    <div>@Html.Label("Kullanıcı Parola")</div>
    <div>@Html.TextBox("password")</div>

    <input type="submit"value="Login"/>
}

